body {
   overflow: auto;
}

.text-gradient {
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.x-icon {
   width: 24pt;
   height: 24pt;
}

.x-header {
   height: 56pt;
   position: absolute;
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(12px);
   top: 0;
   left: 0;
   right: 0;
   z-index: 200;
   background-color: rgba(255, 255, 255, 0.7);
}
.x-header-content {
   width: 76%;
}
@media screen and (max-width: 620px) {
   .x-header .x-navmenu {
      display: none;
   }
}

.x-header .x-logo-image {
   width: auto;
   height: 22pt;
}

.x-header .x-navmenu-item {
   display: inline-block;
   min-width: 52pt;
   height: auto;
   color: var(--foreground);
   font-size: 12.8pt;
}
.x-header .x-navmenu-action-button {
   height: 32pt;
   padding-left: 10pt;
   padding-right: 10pt;
   border-radius: 25px;
}

.x-hero {
   position: relative;
   height: calc(100vh);
   background-color: #4158D0;
   background-image: linear-gradient(43deg, #8095ff 0%, #ff89f7 46%, #ffd689 100%);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
}

.x-hero-quote-text {
   font-size: 4rem;
}
.x-username-claim-input {
   height: 38pt;
   border-radius: 50px;
   padding-left: var(--gap);
   padding-right: var(--gap-half);
   border: 3px solid var(--accents-1);
}
.x-username-claim-input .x-username-claim-input-label {
   font-size: 13pt;
}
.x-username-claim-input .x-username-claim-input-controller {
   height: 100%;
   width: 138pt;
   border: none;
   outline: none;
   font-size: 13pt;
   background-color: transparent;
}
.x-username-claim-input .x-username-claim-input-controller::placeholder {
   color: var(--accents-3);
}
.x-username-claim-input .x-username-claim-action {
   width: 56pt;
   border-radius: inherit;
}
.x-hero-scroll-bottom-icon {
   position: absolute;
   bottom: 2rem;
}
.x-hero-scroll-bottom-icon .x-icon {
   fill: var(--accents-5);
}
@media screen and (max-width: 620px) {
   .x-username-claim-input-label {
      display: none;
   }
   .x-username-claim-input .x-username-claim-input-controller {
      width: 124pt;
   }
   .x-hero-quote-text {
      font-size: 3.1rem;
   }
}

.x-app-features {
   background-color: var(--foreground);
}
.x-app-feature {
   display: flex;
   gap: var(--gap);
   align-items: center;
}
.x-app-feature-header {
   padding-top: 28pt;
}
.x-app-feature-stack {
   height: 130pt;
}
.x-app-feature-icon {
   height: 24pt;
}
.x-app-feature-icon-image {
   height: 100%;
}
.x-app-feature-name {
   color: var(--background);
}
@media screen and (max-width: 620px) {
   .x-app-features .x-app-feature {
      flex-direction: column;
   }
   .x-app-feature-icon {
      height: 24pt;
   }
   .x-app-feature-stack {
      height: 90pt;
      margin-top: var(--gap);
      margin-bottom: var(--gap);
      flex-wrap: wrap;
   }
}

.x-core-feature-overview {
   margin-top: 38pt;
   margin-bottom: 38pt;
   gap: 58pt;
}
.x-core-feature-overview.reverse {
   flex-direction: row-reverse;
}
.x-core-feature-overview-detail {
   width: 380pt;
}
.x-core-feature-overview-detail p {
   font-size: 120%;
   color: var(--accents-5);
}
@media screen and (max-width: 620px) {
   .x-core-feature-overview {
      flex-direction: column;
   }
   .x-core-feature-overview.reverse {
      flex-direction: column;
   }
   .x-core-feature-overview-image-wrapper {
      display: flex;
      justify-content: center;
   }
   .x-core-feature-overview-image {
      width: 60%;
   }
   .x-core-feature-overview-detail {
      width: auto;
      padding-left: var(--gap);
      padding-right: var(--gap);
   }
   .x-core-feature-overview-detail h2 {
      margin: 0;
      padding: 0;
   }
   .x-core-feature-overview-detail p {
      font-size: 100%;
      color: var(--accents-5);
   }
}

.x-faq-section {
   width: 70vw;
}
.x-faq-section .x-faq {
   margin-bottom: var(--gap-quarter);
}
@media screen and (max-width: 620px) {
   .x-faq-section {
      width: 85vw;
   }
}

.x-footer {
   width: 70vw;
}
.x-footer-logo-image {
   height: 32px;
}
.x-footer-social-link .x-icon {
   width: 20pt;
   height: 20pt;
   fill: var(--accents-4);
}
@media screen and (max-width: 620px) {
   .x-footer {
      flex-direction: column-reverse;
      gap: var(--gap);
      width: 85vw;
   }
}
