.page__body::-webkit-scrollbar {
  width: var(--page-scroll-size);
  height: var(--page-scroll-size);
}
.page__body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 70ms linear;
}
.page__body:hover::-webkit-scrollbar-thumb {
  background-color: var(--page-scroll-color);
}
.page__body::-webkit-scrollbar-thumb:hover {
  background-color: var(--page-scroll-color);
}
.page__body::-webkit-scrollbar-thumb:active {
  background-color: var(--page-scroll-active-color);
}
.page__body ::selection {
  background-color: var(--page-foreground-color);
  color: var(--page-background-color);
}

.page__body {
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: 100% auto;
  background-attachment: fixed;
}

/* --------- Page content and layout --------- */
@media screen and (max-width: 620px) {
  :root {
    --page-width: 100%;
  }

  .page__body {
    background-size: auto 100%;
  }

  .page__content {
    --page-width: var(--page-width);
  }
}

.page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--page-font-stack);
  box-shadow: var(--page-shadow);
  justify-content: var(--page-justify);
  align-items: var(--page-align);
  padding-top: var(--page-top);
  padding-bottom: var(--page-bottom);
  width: var(--page-width);
  min-height: var(--page-height);
  height: auto;
  background-color: transparent;
  color: var(--page-foreground-color);
}

/* --------- Page user avatar --------- */
.page__user-avatar {
  margin-top: 12pt;
  display: inline-block;
  width: var(--page-user-avatar-image-width);
  height: var(--page-user-avatar-image-height);
  border-radius: var(--page-user-avatar-image-radius);
}
.page__user-avatar-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* --------- Page user profile --------- */
.page__user-profile {
  margin-top: 20pt;
  text-align: center;
}
.page__user-profile-fullname {
  line-height: 1rem;
}
.page__user-profile-bio {
  line-height: 1rem;
  font-size: 102%;
}
.page__user-unverified-label {
  color: rgb(255, 41, 41);
}

/* --------- Page socials --------- */
.page__socials {
  display: flex;
  margin-top: 3pt;
  margin-bottom: 3pt;
  gap: var(--page-social-icon-gap);
}
.page__social {
  display: inline-flex;
  width: 32pt;
  height: 32pt;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.page__social-icon {
  display: inherit;
}
.page__social-icon svg {
  fill: var(--page-social-icon-color);
  width: var(--page-social-icon-width);
  height: var(--page-social-icon-height);
}

/* --------- Page links --------- */
.page__links {
  margin-top: 10pt;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--page-link-gap);
  flex-direction: column;
}
.page__link {
  width: calc(var(--page-link-width) - 65pt);
  padding: 12pt 16pt;
  border-radius: var(--page-link-radius);
  border: var(--page-link-border);
  background-color: var(--page-link-background-color);
  background-image: var(--page-link-background-image);
  color: var(--page-link-foreground-color);
  transition: transform 120ms ease;
}
.page__link:hover {
  transform: scale(1.02);
}
.page__link-metadata {
  color: var(--page-link-foreground-color);
}
.page__link-metadata-title {
  line-height: 1.4rem;
}
.page__link-metadata-desc,
.page__link-metadata-href {
  font-size: 90%;
}
.page__link-metadata-href {
  white-space: nowrap;
  overflow: hidden;
}

.page__logo {
  position: absolute;
  bottom: 16pt;
}
.page__logo-image {
  height: 25pt;
  width: auto;
  fill: var(--page-foreground-color);
}
