:root {
  --page-font-stack: "Inter", Arial, Helvetica, sans-serif;

  --page-selection: royalblue;
  --page-foreground: #000;

  --page-root-width: 100%;
  --page-root-height: 100%;
  --page-root-background: #FFF;

  --page-content-width: auto;
  --page-content-height: 100%;
  --page-content-top: 12pt;
  --page-content-bottom: 12pt;
  --page-content-shadow: 0 4px 16px rgba(210, 210, 210, 0.6);
  --page-content-justify: flex-start;
  --page-content-align: center;
  --page-content-background: #fff;

  --page-user-avatar-image-width: 71.4pt;
  --page-user-avatar-image-height: 71.4pt;
  --page-user-avatar-image-radius: 50%;

  --page-social-icon-width: 20pt;
  --page-social-icon-height: 20pt;
  --page-social-icon-gap: 1pt;
  --page-social-icon-color: inherit;

  --page-link-gap: 12pt;
  --page-link-width: 100%;
  --page-link-radius: 8pt;
  --page-link-background: transparent;
  --page-link-foreground: inherit;
  --page-link-border: 1px solid #ddd;
}
