:root {
  --page-font-stack: "Inter", Arial, Helvetica, sans-serif;

  --page-background: #FFF;
  --page-foreground: #000;

  --page-scroll-size: 6pt;
  --page-scroll-color: auto;
  --page-scroll-active-color: auto;

  --page-width: 520px;
  --page-height: calc(100% - 16pt - 58pt);
  --page-top: 12pt;
  --page-bottom: 58pt;
  --page-shadow: none;
  --page-justify: flex-start;
  --page-align: center;

  --page-user-avatar-image-width: 71.4pt;
  --page-user-avatar-image-height: 71.4pt;
  --page-user-avatar-image-radius: 50%;

  --page-social-icon-width: 20pt;
  --page-social-icon-height: 20pt;
  --page-social-icon-gap: 1pt;
  --page-social-icon-color: inherit;

  --page-link-gap: 10pt;
  --page-link-width: 100%;
  --page-link-radius: 8pt;
  --page-link-background: transparent;
  --page-link-foreground: inherit;
  --page-link-border: 1px solid #ddd;
}
