.app-icon {
   width: 14pt;
   height: 14pt;
}

/* ---------------- mockup splash screen ---------------- */
.vscreen-splash {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.vscreen-splash .vscreen-splash-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: calc(4.48rem);
   height: calc(4.48rem);
   user-select: none;
   -webkit-user-drag: none;
}

/* ---------------- scrollbar style ---------------- */
.regular-scroll::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}
.regular-scroll::-webkit-scrollbar-thumb {
   border-radius: 25px;
   background-color: transparent;
   transition: background-color 70ms linear;
}
.regular-scroll:hover::-webkit-scrollbar-thumb {
   background-color: var(--accents-2);
}
.regular-scroll:hover::-webkit-scrollbar-thumb:active {
   background-color: var(--accents-3);
}

/* ---------------- colors ---------------- */
.bg-primary {
   background-color: var(--primary);
   color: var(--primary-fr);
}
.bg-error {
   background-color: var(--error);
   color: var(--error-fr);
}
.bg-warn {
   background-color: var(--warn);
   color: var(--warn-fr);
}
.bg-light {
   background-color: var(--light);
   color: var(--light-fr);
}
.bg-cyan {
   background-color: var(--cyan);
   color: var(--cyan-fr);
}
.bg-purple {
   background-color: var(--purple);
   color: var(--purple-fr);
}
.bg-violet {
   background-color: var(--violet);
   color: var(--violet-fr);
}
.bg-background {
   background-color: var(--background);
   color: var(--background-fr);
}
.bg-foreground {
   background-color: var(--foreground);
   color: var(--background);
}
.bg-default {
   background-color: var(--accents-2);
   color: var(--accents-8);
}

.bg-accents-1 {
   background-color: var(--accents-1);
   color: var(--accents-8);
}
.bg-accents-2 {
   background-color: var(--accents-2);
   color: var(--accents-6);
}
.bg-accents-3 {
   background-color: var(--accents-3);
   color: var(--background);
}


.use-primary {
   --color: var(--primary);
   --color-fr: var(--primary-fr);
}
.use-error {
   --color: var(--error);
   --color-fr: var(--error-fr);
}
.use-warn {
   --color: var(--warn);
   --color-fr: var(--warn-fr);
}
.use-light {
   --color: var(--light);
   --color-fr: var(--light-fr);
}
.use-cyan {
   --color: var(--cyan);
   --color-fr: var(--cyan-fr);
}
.use-purple {
   --color: var(--purple);
   --color-fr: var(--purple-fr);
}
.use-violet {
   --color: var(--violet);
   --color-fr: var(--violet-fr);
}
.use-background {
   --color: var(--background);
   --color-fr: var(--background-fr);
}
.use-foreground {
   --color: var(--foreground);
   --color-fr: var(--background);
}

.text-primary {
   color: var(--primary);
}
.text-error {
   color: var(--error);
}
.text-warn {
   color: var(--warn);
}
.text-light {
   color: var(--light);
}
.text-cyan {
   color: var(--cyan);
}
.text-purple {
   color: var(--purple);
}
.text-violet {
   color: var(--violet);
}
.text-background {
   color: var(--background);
}
.text-foreground {
   color: var(--foreground);
}
.color-inherit {
   color: inherit;
}

.text-accents-1 {
   color: var(--accents-1);
}
.text-accents-2 {
   color: var(--accents-2);
}
.text-accents-3 {
   color: var(--accents-3);
}
.text-accents-4 {
   color: var(--accents-4);
}
.text-accents-5 {
   color: var(--accents-5);
}
.text-accents-6 {
   color: var(--accents-6);
}
.text-accents-7 {
   color: var(--accents-7);
}
.text-accents-8 {
   color: var(--accents-8);
}

.bg-gradient-1 {
   background: #c471f5;
   background: -webkit-linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
   background: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
   color: white;
}
.bg-gradient-2 {
   background: #ff0f7b;
   background: -webkit-linear-gradient(90deg, #ff0f7b 0%, #f89c2a 100%);
   background: linear-gradient(90deg, #ff0f7b 0%, #f89c2a 100%);
   color: #fff;
}

.bg-gradient-3 {
   background: #fc466b;
   background: -webkit-linear-gradient(135deg, #3f5efb, #fc466b);
   background: linear-gradient(135deg, #3f5efb, #fc466b);
   color: #fff;
}

.bg-gradient-4 {
   background: #fc4a1a;
   background: -webkit-linear-gradient(135deg, #f7b733, #fc4a1a);
   background: linear-gradient(135deg, #f7b733, #fc4a1a);
   color: #fff;
}

.bg-gradient-5 {
   background: #7f00ff;
   background: -webkit-linear-gradient(135deg, #e100ff, #7f00ff);
   background: linear-gradient(135deg, #e100ff, #7f00ff);
   color: #fff;
}

.bg-gradient-6 {
   background: #36d1dc;
   background: -webkit-linear-gradient(135deg, #36d1dc, #5b86e5);
   background: linear-gradient(135deg, #36d1dc, #5b86e5);
   color: #fff;
}

/* ---------------- common utils ---------------- */
.pad-0 {
   padding: 0;
}
.pad-small {
   padding: var(--gap-quarter);
}
.pad-medium {
   padding: var(--gap-half);
}
.pad-large {
   padding: var(--gap);
}
.pad-top-small {
   padding-top: var(--gap-quarter);
}
.pad-top-medium {
   padding-top: var(--gap-half);
}
.pad-top-large {
   padding-top: var(--gap);
}
.pad-y-small {
   padding-top: var(--gap-quarter);
   padding-bottom: var(--gap-quarter);
}
.pad-y-medium {
   padding-top: var(--gap-half);
   padding-bottom: var(--gap-half);
}
.pad-y-large {
   padding-top: var(--gap);
   padding-bottom: var(--gap);
}
.pad-x-small {
   padding-left: var(--gap-quarter);
   padding-right: var(--gap-quarter);
}
.pad-x-medium {
   padding-left: var(--gap-half);
   padding-right: var(--gap-half);
}
.pad-x-large {
   padding-left: var(--gap);
   padding-right: var(--gap);
}

.margin-0 {
   margin: 0;
}
.margin-x-auto {
   margin-left: auto;
   margin-right: auto;
}
.margin-y-auto {
   margin-top: auto;
   margin-bottom: auto;
}
.margin-y-small {
   margin-top: var(--gap-quarter);
   margin-bottom: var(--gap-quarter);
}
.margin-y-medium {
   margin-top: var(--gap-half);
   margin-bottom: var(--gap-half);
}
.margin-y-large {
   margin-top: var(--gap);
   margin-bottom: var(--gap);
}
.margin-x-small {
   margin-left: var(--gap-quarter);
   margin-right: var(--gap-quarter);
}
.margin-x-medium {
   margin-left: var(--gap-half);
   margin-right: var(--gap-half);
}
.margin-x-large {
   margin-left: var(--gap);
   margin-right: var(--gap);
}

.text-center {
   text-align: center;
}
.text-left {
   text-align: left;
}
.text-right {
   text-align: right;
}

.w-auto {
   width: auto;
}
.w-100 {
   width: 100%;
}
.w-inherit {
   width: inherit;
}
.h-auto {
   height: auto;
}
.h-100 {
   height: 100%;
}
.h-inherit {
   height: inherit;
}

.hide {
   display: none;
}

.xstack {
   display: flex;
   flex-direction: row;
}
.inline-xstack {
   display: inline-flex;
   flex-direction: row;
}
.ystack {
   display: flex;
   flex-direction: column;
}
.wrap {
   flex-wrap: wrap;
}
.inline-ystack {
   display: flex;
   flex-direction: column;
}
.stack-item {
   flex: 1;
}
.stack-item-dual {
   flex: 2;
}
.gap-small {
   gap: var(--gap-quarter);
}
.gap-medium {
   gap: var(--gap-half);
}
.gap-large {
   gap: var(--gap);
}

.justify-center {
   justify-content: center;
}
.justify-start {
   justify-content: flex-start;
}
.justify-end {
   justify-content: flex-end;
}
.justify-space-between {
   justify-content: space-between;
}
.justify-space-evenly {
   justify-content: space-evenly;
}

.align-center {
   align-items: center;
}
.align-start {
   align-items: flex-start;
}
.align-end {
   align-items: flex-end;
}

.radius-small {
   border-radius: var(--gap-quarter);
}
.radius-medium {
   border-radius: var(--gap-half);
}
.radius-large {
   border-radius: var(--gap);
}
.radius-inherit {
   border-radius: inherit;
}
.radius-default {
   border-radius: var(--radius);
}
.rounded {
   border-radius: 50%;
}

.noborder {
   border: none;
}

.shadow-small {
   box-shadow: var(--shadow-small);
}
.shadow-medium {
   box-shadow: var(--shadow-medium);
}
.shadow-large {
   box-shadow: var(--shadow-large);
}

.cursor-pointer {
   cursor: pointer;
}

.nooutline {
   outline: none;
}

.cover-viewport {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.pos-rel {
   position: relative;
}
.pos-abs {
   position: absolute;
}

.overflow-auto {
   overflow: auto;
}
.overflow-hidden {
   overflow: hidden;
}

/* ---------------- app input controls ---------------- */
.app-button {
   width: auto;
   height: 48px;
   font-size: 1rem;
   border: 0;
   cursor: pointer;
   transition: transform 140ms ease, box-shadow 160ms ease;
   transform: translateY(0);
}
.app-button:hover {
   box-shadow: var(--shadow-medium);
}
.app-button:active {
   transform: translateY(-5px);
}
.app-button:disabled {
   background-color: var(--accents-1);
   color: var(--accents-4);
   pointer-events: none;
}
.app-button.type__text {
   background-color: transparent;
   color: auto;
}
.app-button.size__tiny {
   min-width: 34px;
   height: 29px;
   font-size: 12.8px;
}
.app-button.size__small {
   min-width: 80px;
   height: 38px;
   font-size: 14px;
}
.app-button.size__large {
   min-width: 120px;
   height: 48px;
   font-size: 18px;
}
.app-button[aria-expanded="true"] {
   width: calc(100% - var(--gap-half));
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;
}

.app-input {
   display: inline-flex;
   height: 46px;
   width: 140pt;
   padding: var(--gap-quarter) var(--gap-half);
   border-radius: var(--radius);
   border-width: 1.5px;
   border-style: solid;
   border-color: transparent;
   box-sizing: border-box;
   background-color: var(--accents-1);
   color: var(--accents-6);
   transition: border-color 120ms ease, background-color 90ms linear;
}
.app-input .app-input-icon {
   width: 30px;
   display: inline-flex;
   align-items: center;
}
.app-input .app-input-icon .app-icon {
   color: var(--accents-4);
}
.app-input.focused {
   border-color: var(--primary);
   background-color: transparent;
}
.app-input[aria-multiline="true"] {
   height: auto;
}
.app-input[aria-multiline="true"] .app-input-controller{
   resize: none;
}
.app-input[aria-expanded="true"] {
   width: 100%;
}
.app-input .app-input-controller {
   border: none;
   width: 100%;
   border-radius: inherit;
   font-family: var(--font-sans);
   background-color: transparent;
}
.app-input .app-input-controller[type="number"]::-webkit-inner-spin-button,
.app-input .app-input-controller[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}
.app-input .app-input-controller::placeholder {
   font-size: 93%;
   color: var(--accents-3);
}

body.dark .app-input {
   background-color: var(--background);
   border-color: var(--accents-2);
   color: var(--foreground);
}
body.dark .app-input.focused {
   border-color: var(--accents-6);
}

/* ---------------- app loader ---------------- */
@keyframes app-loader {
   100% {
      transform: rotate(360deg);
   }
}
@keyframes app-loader-dot {
   80%,
   100% {
      transform: rotate(360deg);
   }
}
@keyframes app-loader-dot-before {
   50% {
      transform: scale(0.4);
   }
   100%,
   0% {
      transform: scale(1);
   }
}
.app-loader {
   position: relative;
   animation: app-loader 2.5s infinite linear both;
}
.app-loader-dot {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   animation: app-loader-dot 2s infinite ease-in-out both;
}
.app-loader-dot:before {
   content: "";
   display: block;
   width: 25%;
   height: 25%;
   background-color: var(--color);
   border-radius: 100%;
   animation: app-loader-dot-before 2s infinite ease-in-out both;
}
.app-loader-dot:nth-child(1) {
   animation-delay: -1.1s;
}
.app-loader-dot:nth-child(2) {
   animation-delay: -1s;
}
.app-loader-dot:nth-child(3) {
   animation-delay: -0.9s;
}
.app-loader-dot:nth-child(4) {
   animation-delay: -0.8s;
}
.app-loader-dot:nth-child(5) {
   animation-delay: -0.7s;
}
.app-loader-dot:nth-child(6) {
   animation-delay: -0.6s;
}
.app-loader-dot:nth-child(1):before {
   animation-delay: -1.1s;
}
.app-loader-dot:nth-child(2):before {
   animation-delay: -1s;
}
.app-loader-dot:nth-child(3):before {
   animation-delay: -0.9s;
}
.app-loader-dot:nth-child(4):before {
   animation-delay: -0.8s;
}
.app-loader-dot:nth-child(5):before {
   animation-delay: -0.7s;
}
.app-loader-dot:nth-child(6):before {
   animation-delay: -0.6s;
}
